<a href="https://colab.research.google.com/github/Sambasivarao77/Python/blob/main/Comprehensions_list_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List Comprehension**

In [1]:
#without using comprehension
numbers = [1,2,3,4,5,6,7,8,9,10]
#find even numbers from the numbers
even = []
for i in numbers:
  if i%2==0:
    even.append(i)

print(even)

[2, 4, 6, 8, 10]

In [3]:
#with comprehension
even_comp = [i for i in numbers if i%2==0]
print(even_comp)

[2, 4, 6, 8, 10]

In [4]:
square = [i*i for i in numbers]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Set comprehension**

In [5]:
numbers = [1,2,3,4,5,6,7,1,2]
s = set(numbers)
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
even_from_set = {i for i in s if i%2 == 0}
print(even_from_set)

{2, 4, 6}

**Dict comprehension**

In [8]:
cities = ["Hyderabad","New york","Paris","Jerusalem"]
countries = ["India","USA","France","Israel"]
z = zip(cities,countries)
print(z)
for a in z:
  print(a)

<zip object at 0x7fb55e41c140>
('Hyderabad', 'India')
('New york', 'USA')
('Paris', 'France')
('Jerusalem', 'Israel')

In [10]:
#comprehension
d = {city:country for city,country in zip(cities,countries)}
print(d)

{'Hyderabad': 'India', 'New york': 'USA', 'Paris': 'France', 'Jerusalem': 'Israel'}