<a href="https://colab.research.google.com/github/Sambasivarao77/Python/blob/main/conditional_and_iterative_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Conditional statements**

In [ ]:
# write a program to tell the given number even/odd
number = int(input("Enter a number "))
if number%2 == 0:
  print("It is even number")
else:
  print("It is odd number")

Enter a number 7
It is odd number

In [ ]:
# write a program to return merit level based on the subject marks => Distinction/First class/Second class/ Just Pass/ Fail
marks_percentage = float(input("ENter marks percentage "))
if marks_percentage >= 70:
  print("You passed in Distinction")
elif marks_percentage >=60:
  print("You passed in First calss")
elif marks_percentage >=50:
  print("You passed in second class")
elif marks_percentage >=35:
  print("You are passed")
else:
  print("Failed")

ENter marks percentage 77
You passed in Distinction

**Iterative statements**

In [ ]:
expenses = [23000,25000,23456,25346,27777,18288,28285]
total_expenses = 0
for expense in expenses:
  total_expenses += expense
print(total_expenses)

171152

In [ ]:
for i in range(10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(len(expenses)):
  print("Month ",(i+1)," expense : ",expenses[i])

Month  1  expense :  23000
Month  2  expense :  25000
Month  3  expense :  23456
Month  4  expense :  25346
Month  5  expense :  27777
Month  6  expense :  18288
Month  7  expense :  28285

In [ ]:
i = 0
while i<10:
  i+=1
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10