<a href="https://colab.research.google.com/github/Sambasivarao77/Python/blob/main/Functions_and_Modules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Functions**

Function is a block of code that performs a specific task.

In [6]:
def calculate_total(exp):
  """
  To calculate toal expenses of each person and return the total amount.
  """
  total = 0
  for price in exp:
    total += price
  return total

Samba_exp_list = [2203,4444,77,88887,7]
Siva_exp_list = [4000, 55000, 980, 47890]
Narendrs_exp_list = [7777,888,9999,2222]
Suresh_exp_list = [7777,888,9999,2222]

print("Samba_exp_list : ",calculate_total(Samba_exp_list))  
print("Siva_exp_list : ",calculate_total(Siva_exp_list))
print("Narendrs_exp_list : ",calculate_total(Narendrs_exp_list))
print("Suresh_exp_list : ",calculate_total(Suresh_exp_list))

Samba_exp_list :  95618
Siva_exp_list :  107870
Narendrs_exp_list :  20886
Suresh_exp_list :  20886

In [7]:
def sum(a,b):
  """
  Return sum of two given numbers
  """
  print("a = ",a," and b= ",b)
  total = a+b
  print("total = ",total)
  return total

n = sum(5,6) 
print("Total outside function = ",n)

a =  5  and b=  6
total =  11
Total outside function =  11

Arguments are of two types
1. Positional Arguments 
2. Named Arguments

In [9]:
# positional arguments
print(sum(5,6))

#named argumnets
print(sum(b=5,a=6))

a =  5  and b=  6
total =  11
11
a =  6  and b=  5
total =  11
11

**Global varibales and local varibles**

In [10]:
total = 0
def sum(a,b):
  """
  Return sum of two given numbers
  """
  print("a = ",a," and b= ",b)
  total = a+b
  print("total inside a function = ",total)
  return total

n = sum(5,6) 
print("Total outside function = ",total)

a =  5  and b=  6
total inside a function =  11
Total outside function =  0

So **total** variable inside function is different than **total** variable which is outside. Both are variables are not the one and same

line 0: total varaible is gloabl variable 

inside function is local varibale

In [16]:
total = 0
def sum(a,b):
  """
  Return sum of two given numbers
  """
  print("a=",a," and b=",b)
  global total 
  total = a+b
  print("total inside function = ",total)
  return total

n = sum(5,6) 
print("Total outside function = ",total)

a= 5  and b= 6
total inside function =  11
Total outside function =  11

**Default argument**

In [19]:
total = 0
def sum(a,b=0):
  """
  Return sum of two given numbers
  """
  print("a=",a," and b=",b)
  global total 
  total = a+b
  print("total inside function = ",total)
  return total

n = sum(5) 
print("Total outside function = ",total)

a= 5  and b= 0
total inside function =  5
Total outside function =  5

**Modules**

Modules is a way to reuse a code written by someone else

In [21]:
import math
print(math.sqrt(16))
print(math.pow(2,5))

4.0
32.0

In [22]:
dir(math) # to see all the function in math module

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [23]:
math.pi

3.141592653589793

In [24]:
import calendar

In [25]:
cal = calendar.month(2021,5)
print(cal)

      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31