<a href="https://colab.research.google.com/github/Sambasivarao77/Python/blob/main/sets_and_frozen_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = {1,2,3,4,1,2,}
type(s)
print(s)

{1, 2, 3, 4}

if we just declare empty {} then the type of the varibale will beocme dict. to declare empty set need to set with set() function

In [5]:
a = {}
b = set()
print(type(a))
print(type(b))

<class 'dict'>
<class 'set'>

In [6]:
c = {"somevalue"}
print(type(c))

<class 'set'>

In [8]:
d = (1,2,3,4,1)
print(type(d))
print(d)

<class 'tuple'>
(1, 2, 3, 4, 1)

In [9]:
e = ()
print(type(e))

<class 'tuple'>

Set function does not allow indexing where as list allows.
Set can not contain duplicates and list contains

In [10]:
numbers = [1,2,3,4,2,3,4]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4}

In [11]:
unique_numbers.add(5)
print(unique_numbers)

{1, 2, 3, 4, 5}

**Frozen sets**

In [12]:
fs = frozenset(numbers)
print(fs)

frozenset({1, 2, 3, 4})

In [13]:
fs.add(5)

AttributeError: ignored

So frozen set does not allow to update set.

In [14]:
dir(fs)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

**Set operations**

In [15]:
x = {"a","b","c"}
print("a" in x)
print("d" in x)

True
False

In [16]:
for i in x:
  print(i)

b
c
a

In [17]:
y = {"g","s","a"}
union = x|y
print(union)

{'s', 'b', 'g', 'c', 'a'}

In [18]:
intersect = x&y
print(intersect)

{'a'}

In [19]:
diff = x - y
diff

{'b', 'c'}

In [21]:
x < union # is x subset of union ?

True

In [22]:
union <y # si union seubset of y ?

False